nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container

  //- Facebook-box
  
  .fb-page(data-href="https://www.facebook.com/eVoks.hu", data-width="240", data-hide-cover="false", data-show-facepile="true", data-show-posts="false")
    .fb-xfbml-parse-ignore
      blockquote(cite="https://www.facebook.com/eVoks.hu")
        a(href="https://www.facebook.com/eVoks.hu") facebook.com/eVoks.hu
  
  .links
    a(href="http://atlatszo.hu", target="_blank") atlatszo.hu
    a(href="http://democracyos.org", target="_blank") democracyos.org
